@model FOODDO.Models.COMMON.Offers
@{ Layout = null;}
<div class="card h-100">
    <div class="card-header bg-secondary" style="color:#ffdb00"><i class="fa fa-edit"></i>Offer</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                @using (Ajax.BeginForm("CreatePost", "Offer", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DynamicData", LoadingElementId = "waiting", OnBegin = "CreateTifin" }, new { enctype = "multipart/form-data" }))
                {
                <div class="row">
                    @Html.HiddenFor(model => model.TitileId)
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })

                    </div>
                    <div class="col-md-9">
                        @Html.LabelFor(model => model.Discription)
                        @Html.TextAreaFor(model => model.Discription, new { @class = "form-control" })

                    </div>
                   </div>
                        <div class="card-header bg-primary" style="color:#ffdb00">
                            OFFER IF APPLY
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.FromAmount)
                                @Html.TextBoxFor(model => model.FromAmount, new { @class = "form-control  autodouble" })

                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.ToAmount)
                                @Html.TextBoxFor(model => model.ToAmount, new { @class = "form-control  autodouble" })

                            </div>

                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Bonus)
                                @Html.TextBoxFor(model => model.Bonus, new { @class = "form-control  autodouble", @value = "0.00" })

                            </div>
                            <div class="col-sm-1">
                                @Html.Label("User Type", htmlAttributes: new { @class = "control-label text-white " })

                                <button type="submit" class="btn btn-secondary">Save</button>
                            </div>

                        </div>
                      
                }
            </div>
        </div>

    </div>
</div>