@model IEnumerable<FOODDO.Models.COMMON.Offers>
@{ Layout = null;}
<div class="card">
    <div class="card-header">
        Offers
        <span class="float-right">
            <span class="float-right">
                <a href="/Offer/Create?ID=0" class="btn btn-success btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-plus"></i></a>
            </span>
        </span>
    </div>
    <div class="card-body">
        <div class="container">
            <table class="table table-bordered table-hover" id="TBLID">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title)</td>
                        <td>@Html.DisplayNameFor(model => model.Discription)</td>
                        <td>@Html.DisplayNameFor(model=>model.FromAmount)</td>
                        <td>@Html.DisplayNameFor(model=>model.ToAmount)</td>
                        <td>@Html.DisplayNameFor(model=>model.Bonus)</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Discription)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.FromAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ToAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Bonus)
                        </td>
                        <td>
                            <a href="/Offer/Create?ID=@item.TitileId.ToString()" class="btn btn-warning btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a href="/Offer/DeletedOffer?Id=@item.TitileId.ToString()" class="btn btn-warning btn-sm" data-ajax="true" data-ajax-confirm="Are You Sure" data-ajax-update="#DynamicData"  data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>
