@model IEnumerable<FOODDO.Models.Settings>
@{ Layout = null;}


<div class="card">
    <div class="card-header">
        Settings
        <span class="float-right">
            <a href="/Settings/Create?SettingId=0" class="btn btn-success btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-plus"></i></a>
        </span>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">

                    <table class="table table-bordered table-hover" id="TBLID">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.KeyName)</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.KeyValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KeyDiscription)
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KeyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KeyValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KeyDiscription)
                                    </td>
                                    <td class="text-center">
                                        <a href="/Settings/Create?SettingId=@item.SettingId" class="btn btn-warning btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

