@model IEnumerable<FOODDO.Models.Customer>
@{ Layout = null;}
<div class="card">
    <div class="card-header"> CUSTOMERS
        <span class="float-right">
            <a href="/Customer/Create?CID=0" class="btn btn-success btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-plus"></i></a>
        </span>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Birthday)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Signup_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Update_Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @item.Birthday.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Signup_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Update_Date)
                        </td>
                        <td class="text-center">
                            <a href="/Customer/Create?CID=@item.CID" class="btn btn-warning btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

