@using FOODDO.Models.COMMON
<!-- header -->
<header class="navbar navbar-expand-sm text-white w-100 p-0" style="background:#34495E;z-index:1;">
    <div class="col-md-8 col-12 text-md-left text-center mt-0">
        <a class="text-white navbar-brand pl-3" style="font-size:23px;"> ACCOUNT</a>
        <a href="#" id="toggle-admin-menu" class="text-white ml-md-4"><i class="fa fa-bars border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>
    </div>

    <div class="col-md-4 col-12  text-md-right text-center p-md-2 p-2 border-top border-dark mt-0">
        <div class="btn-group mt-0">
            <a href="/User/Admin" class="text-white m-1"><i class="fa fa-utensils border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>
        </div>

        <div class="btn-group mt-0">
            <a href="#" class="text-white m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-out-alt border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>
            <div class="dropdown-menu dropdown-menu-right text-center pb-0">
                <h6 class="mt-2 mb-2">@Session["USERNAME"]</h6>
                <a href="/User/Logout" id="logoutbtn" class="btn btn-sm btn-block btn-dark mt-1 nav-item"><i class="fa fa-lock"> Sign Out</i> </a>
                <style>
                    #logoutbtn > i:hover {
                        border: none !important;
                        background: none !important;
                    }
                </style>
            </div>
        </div>

    </div>
</header>

<div class="row">
    <!-- admin side menus -->
    <div id="admin-side-menu" class="col-md-2 col-12 ml-sm-auto m-0 p-0 " style="background-color: #34495E;">
        <ul id="myaccordion" class="list-unstyled mb-0">
            @{

                List<Menu> AccountMenuList = Menu.List.FindAll(x => x.Section == "ACCOUNT" && x.ParentMenuId == 0);
                AccountMenuList = AccountMenuList.OrderBy(x => x.MenuOrderNo).ToList();
                List<Menu> AccountSubMenuList = Menu.List.FindAll(x => x.Section == "ACCOUNT" && x.ParentMenuId != 0);
                foreach (var ObjMenuLi in AccountMenuList)
                {
                    if (ObjMenuLi.MenuLink != null)
                    {
                        <li class="nav-item" data-parent="#myaccordion">
                            <a class="nav-link" href="@ObjMenuLi.MenuLink" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="@ObjMenuLi.Menu_Icon"></i>@ObjMenuLi.MenuDisplayName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link have-sub-menu collapsed" href="#" data-target="#ID@(ObjMenuLi.Menu_Id)" data-toggle="collapse">
                                <i class="fa fa-desktop-alt"></i>@ObjMenuLi.MenuDisplayName<span class="fa fa-plus"></span>
                            </a>
                            <ul id="ID@(ObjMenuLi.Menu_Id)" class="collapse list-unstyled" data-parent="#myaccordion">
                                @{
                                    List<Menu> ChileMenus = AccountSubMenuList.FindAll(x => x.ParentMenuId == ObjMenuLi.Menu_Id);
                                    ChileMenus = ChileMenus.OrderBy(x => x.MenuOrderNo).ToList();
                                    foreach (var SubMenu in ChileMenus)
                                    {


                                        <li class="nav-item" data-parent="#myaccordion">
                                            <a class="nav-link" href="@SubMenu.MenuLink" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="@SubMenu.Menu_Icon"></i>@SubMenu.MenuDisplayName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                            }

                            }

                            }
                            
                        </ul>
    </div>
    <!-- End admin side menus -->
    <div class="col-md-10 col-12 mt-0 p-0" id="DynamicData">
       









    </div>

</div>

<!-- Right Menu -->
@*<div class="container-fluid right-menu collapse bg-white p-1" style="transition:ease-in-out 0.1s;position:fixed; top:42px;right:0px;width:260px;min-height:550px;z-index:1;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);">
        <div class="row">
                    <b class="list-group-item active text-center w-100">NOTIFICATINS</b>
        </div>
    </div>*@
<!-- End Right Menu -->

<script>
    $(document).ready(function () {

        // loading time set size
        if ($(window).width() <= 700) {
            $("#admin-side-menu").addClass("d-none");
            $("#DynamicData").removeAttr("class");
            $("#DynamicData").addClass("col-md-12 col-12 mt-0 p-0");
        }
        else {
            $("#admin-side-menu").removeClass("d-none");
            $("#DynamicData").removeAttr("class");
            $("#DynamicData").addClass("col-md-10 col-12 mt-0 p-0");
        }


        // onclick admin toggle menu btn
        $("#toggle-admin-menu").click(function () {
            if ($("#admin-side-menu").hasClass("d-none")) {
                    $("#admin-side-menu").removeClass("d-none");
                    $("#DynamicData").removeAttr("class");
                    $("#DynamicData").addClass("col-md-10 mt-0 p-0");
                }
                else {
                    $("#admin-side-menu").addClass("d-none");
                    $("#DynamicData").removeAttr("class");
                    $("#DynamicData").addClass("col-md-12 mt-0 p-0");
                }
            });

        // accordian toggle
            $("#admin-side-menu > ul > li > a").click(function () {
                $("#admin-side-menu > ul > li").removeClass("activeted");
                $(this).parent("li").addClass("activeted");

                if ($(this).hasClass("have-sub-menu")) {
                        $("#admin-side-menu > ul > li").find("span").removeClass("fa-minus");
                        $("#admin-side-menu > ul > li").find("span").addClass("fa-plus");
                    if ($(this).hasClass("collapsed")) {
                        $(this).find("span").removeClass("fa-plus");
                        $(this).find("span").addClass("fa-minus");
                    }
                }
            });

    });
</script>

